In [1]:
import pandas as pd

df = pd.read_csv('../data/data-binary.csv')
df.dtypes

a    int64
b    int64
c    int64
d    int64
e    int64
dtype: object

In [2]:
df

      a  b  c  d  e
0     1  0  0  0  0
1     1  0  0  0  0
2     1  0  0  1  1
3     0  0  0  0  1
4     0  0  0  0  0
...  .. .. .. .. ..
9995  1  1  1  0  0
9996  0  0  0  0  1
9997  1  0  0  0  0
9998  1  0  0  0  0
9999  0  0  0  0  0

[10000 rows x 5 columns]

In [5]:
from pypair.association import binary_binary

gkl_for = lambda a, b: binary_binary(a, b, measure='gk_lambda')
gkl_rev = lambda a, b: binary_binary(a, b, measure='gk_lambda_reversed')

In [7]:
df.corr(method=gkl_for)

     a         b         c         d         e
a  1.0  0.000000  0.000000  0.000000  0.000000
b  0.0  1.000000  0.357166  0.000000  0.000000
c  0.0  0.357166  1.000000  0.000000  0.000000
d  0.0  0.000000  0.000000  1.000000  0.622583
e  0.0  0.000000  0.000000  0.622583  1.000000

In [8]:
df.corr(method=gkl_rev)

     a    b    c         d         e
a  1.0  0.0  0.0  0.000000  0.000000
b  0.0  1.0  0.0  0.000000  0.000000
c  0.0  0.0  1.0  0.000000  0.000000
d  0.0  0.0  0.0  1.000000  0.523902
e  0.0  0.0  0.0  0.523902  1.000000